---
layout: false
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns:xhtml="http://www.w3.org/1999/xhtml"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"
        xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
  {%- if item | includeInSitemap %}
  {%- set alternates = item | sitemapAlternates(site.url, "en") %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    {%- for alternate in alternates %}
    <xhtml:link rel="alternate" hreflang="{{ alternate.lang }}" href="{{ alternate.href }}"/>
    {%- endfor %}
  </url>
  {%- endif %}
{%- endfor %}
{%- for pdfUrl in sitemapPdfs %}
  <url>
    <loc>{{ site.url }}{{ pdfUrl }}</loc>
  </url>
{%- endfor %}
</urlset>